<% layout('layouts/boilerplate')%>
    
    <div class="row">
        <h1 class="text-center">Edit Bhaktidham</h1>
        <div class="col-6 offset-3">
            <form action="/bhaktidham/<%=bhaktidham._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="bhaktidham[title]" value="<%=bhaktidham.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mulnayak">Mulnayak</label>
                    <input class="form-control" type="text" id="mulnayak" name="bhaktidham[mulnayak]" value="<%= bhaktidham.location%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="bhaktidham[location]" value="<%= bhaktidham.location%>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="bhaktidham[image]" value="<%=bhaktidham.image %>" >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="bhaktidham[description]"><%="dham.description"%></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Bhaktidham</button>
                </div>            
            </form>
            <a href="/bhaktidham/<%= bhaktidham._id%>">Back To Bhaktidham Details</a>
        </div>
    </div>
    